.new-todo {
    margin: 10px;
    padding: 5px;
    width: 300px;
}

.toggle {
    margin-right: 5px;
}

.completed {
    text-decoration: line-through;
}

.delete {
    cursor: pointer;
    margin-left: 5px;
}
